{% extends "base.html" %}

{% block title %}Create Ad - Select Vehicle Type{% endblock %}

{% block content %}
<div class="vehicle-select-container">
    <h1>Select the Type of Vehicle</h1>
    <div class="button-group">
        <a href="{{ url_for('ad_routes.create_motorcycle') }}" class="vehicle-button">Motorcycle</a>
        <a href="{{ url_for('ad_routes.create_van') }}" class="vehicle-button">Van</a>
        <a href="{{ url_for('ad_routes.create_car') }}" class="vehicle-button">Car</a>
    </div>

    <div class="back-button">
        <a href="{{ url_for('auth_routes.dashboard') }}" class="vehicle-button back-button">Back to Dashboard</a>
    </div>
</div>
{% endblock %}
